.banner{
    width: 100%;
    height: 100vh;
    background-color: $darkGrey;
    background-image: url('../img/banner1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: $logoGold;
        position: absolute;
        right: $margin;
        bottom: $margin;
        font-family: $stencil;
        letter-spacing: 8px;
        font-size: 36px;
    }
}