* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.battlefield {
  width: 1360px;
  height: 768px;
  background-image: url("img/deskBackground.jpg");
  border: 40px solid #4d2900;
  border-radius: 384px 384px 384px 384px;
  position: relative;
  overflow: hidden;
}

.battlefield .player {
  background-color: rgba(255, 255, 255, 0.226);
  position: absolute;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.battlefield .player p {
  margin: 5px;
}

.battlefield .playerOne {
  width: 400px;
  height: 220px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: none;
}

.battlefield .playerThree {
  width: 400px;
  height: 220px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: none;
}

.battlefield .playerTwo {
  width: 220px;
  height: 400px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-left: none;
}

.battlefield .playerFour {
  width: 220px;
  height: 400px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-right: none;
}

.battlefield .cards {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.battlefield .cards .card {
  height: 120px;
  width: 80px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.226);
  border-radius: 10px;
}

.controlPanel {
  width: 260px;
  height: 400px;
  background-color: black;
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.controlPanel button {
  width: 90px;
  padding: 5px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=app.css.map */