*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
}

.editorContainer{
    width: 1324px;
    height: 768px;
    border: 1px solid #ddd;
    border-right: none;
    display: flex;
    margin-top: 60px;
    .photoContainer{
        width: 1024px;
        height: 768px;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        .photoCanvas{
            width: 80%;
            height: 80%;
            background-image: url();
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            filter: contrast(100%) brightness(100%) saturate(100%);
        }
        
    }
    .editSection{
        width: 300px;
        height: 768px;
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        input{
            width: 70%;
            margin-bottom: 20px;
            background-color: rgba(255, 255, 255, 0);
        }
        input[type=range] {
            height: 25px;
            -webkit-appearance: none;
            margin: 10px 0;
           
          }
          input[type=range]:focus {
            outline: none;
          }
          input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            
            box-shadow: 0px 0px 0px #000000;
            background: #2497E3;
            border-radius: 1px;
            border: 0px solid #000000;
          }
          input[type=range]::-webkit-slider-thumb {
            box-shadow: 0px 0px 0px #000000;
            border: 1px solid #2497E3;
            height: 18px;
            width: 18px;
            border-radius: 25px;
            background: #A1D0FF;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -7px;
          }
          input[type=range]:focus::-webkit-slider-runnable-track {
            background: #2497E3;
          }
          input[type=range]::-moz-range-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            
            box-shadow: 0px 0px 0px #000000;
            background: #2497E3;
            border-radius: 1px;
            border: 0px solid #000000;
          }
          input[type=range]::-moz-range-thumb {
            box-shadow: 0px 0px 0px #000000;
            border: 1px solid #2497E3;
            height: 18px;
            width: 18px;
            border-radius: 25px;
            background: #A1D0FF;
            cursor: pointer;
          }
          input[type=range]::-ms-track {
            width: 100%;
            height: 5px;
            cursor: pointer;
            
            background: transparent;
            border-color: transparent;
            color: transparent;
          }
          input[type=range]::-ms-fill-lower {
            background: #2497E3;
            border: 0px solid #000000;
            border-radius: 2px;
            box-shadow: 0px 0px 0px #000000;
          }
          input[type=range]::-ms-fill-upper {
            background: #2497E3;
            border: 0px solid #000000;
            border-radius: 2px;
            box-shadow: 0px 0px 0px #000000;
          }
          input[type=range]::-ms-thumb {
            margin-top: 1px;
            box-shadow: 0px 0px 0px #000000;
            border: 1px solid #2497E3;
            height: 18px;
            width: 18px;
            border-radius: 25px;
            background: #A1D0FF;
            cursor: pointer;
          }
          input[type=range]:focus::-ms-fill-lower {
            background: #2497E3;
          }
          input[type=range]:focus::-ms-fill-upper {
            background: #2497E3;
          }
        p{
            align-self: flex-start;
            margin-left: 15%;
            color: white;
            letter-spacing: 2px;
            font-size: 12px;
        }
        button{
            align-self: flex-end;
            margin-right: 15%;
            padding: 2px 5px;
        }
          
    }
}


.uploadContainer{
    width: 1324px;
    height: 60px;
    background-color: #333;
    border-top: 1px solid #ddd;
    margin-bottom: 60px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 40px;
    button{
        padding: 3px 6px;
    }
}