@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("img/heroico.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: #2F160D;
  z-index: 5;
  width: 100%;
  max-width: 1920px;
  margin-top: 0;
  position: fixed;
}

.logo img {
  height: 50px;
}

.circle {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
}

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  color: #D2BB69;
}

.navLinks a:hover {
  color: #dadada;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.918);
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1200px) {
  .navLinks {
    width: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .navLinks {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navLinks {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #272727dc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    border-left: 2px solid #ff652f;
  }
  .navLinks li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

@-webkit-keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinksFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

/*Login bar*/
.login-bar {
  width: 100%;
  max-width: 1920px;
  -webkit-transform: translate(0, 8vh);
          transform: translate(0, 8vh);
  background-color: #d2bb69b2;
  position: fixed;
  z-index: 10;
}

.regbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.regbox a {
  text-decoration: none;
  font-size: 0.8em;
  margin: 5px 0px;
  letter-spacing: 2px;
  color: #333;
}

.regbox a:hover {
  color: white;
}

#login::after {
  content: '/';
  margin: 0 10px;
  color: #2F160D;
}

/**Jumbotron**/
.jumbotron {
  max-width: 1920px;
  width: 100%;
  margin-top: 8vh;
  height: 92vh;
  max-height: 994px;
  background-color: white;
  background-image: url("img/ruins.png");
  background-position: top;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info span {
  color: #3B5343;
  font-weight: bold;
}

.jumbotron h1 {
  color: rgba(255, 255, 255, 0.548);
}

.jumbotron p {
  margin-bottom: 30px;
  color: #D2BB69;
}

/**Info**/
.infoInfo {
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px;
  background-color: white;
}

.infoBlock {
  padding: 10px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoBlock i {
  font-size: 80px;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .infoInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/**Játék**/
.gameContent {
  width: 100%;
  max-width: 1920px;
  background-color: #8c8666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 40px;
}

.history {
  width: 80%;
  max-width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.history img {
  width: 100%;
  margin-bottom: 0px;
}

.btnStory {
  width: 100%;
  padding: 15px;
  background-color: #272727;
  color: #D2BB69;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.btnStory::after {
  content: '\25be';
  float: right;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.btnStory--active {
  background-color: #555555;
}

.btnStory--active::after {
  content: '\25b4';
}

.storyContent {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.3s;
  transition: max-height 0.3s;
  padding: 0 15px;
  background-color: #d8d8d8;
  color: #1b1b1b;
  margin-bottom: 40px;
}

.gameTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 1920px;
  background-color: #D1E8E2;
}

.gameTitle h4 {
  margin: 20px;
  margin-top: 40px;
  text-decoration: underline;
  font-size: 26px;
  color: #2F160D;
}

/**Team**/
.title {
  width: 100%;
  max-width: 1920px;
  padding: 20px;
  background-color: #2F160D;
  color: #D2BB69;
  text-align: center;
}

.teamSection {
  width: 100%;
  max-width: 1920px;
  background-color: #8c8666;
  padding: 40px;
}

.teamContainer {
  height: 100%;
  width: 100%;
  background-color: #8c8666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.teamCard {
  min-width: 200px;
  height: 280px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 5px #535353;
          box-shadow: 3px 3px 5px #535353;
}

.photoSection {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #2F160D;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.photoSection img {
  height: 120px;
  -webkit-transform: scale(1.3) translate(0px, 5px);
          transform: scale(1.3) translate(0px, 5px);
  z-index: 3;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.teamCard:hover .photoSection img {
  -webkit-transform: scale(2.3) translate(0px, 30px);
          transform: scale(2.3) translate(0px, 30px);
}

.teamCard:hover .descriptionSection p {
  -webkit-transform: translate(0px, 30px);
          transform: translate(0px, 30px);
}

.descriptionSection {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  background-color: white;
}

.descriptionSection p:nth-child(1) {
  margin-top: 15px;
}

.descriptionSection p {
  margin-bottom: 25px;
  -webkit-transition: .3s;
  transition: .3s;
}

.developer {
  padding: 10px;
  background-color: #AA4A44;
  border-radius: 5px;
  color: #faf6eb;
}

.constructer {
  padding: 10px;
  background-color: #034694;
  border-radius: 5px;
  color: #faf6eb;
}

.admin {
  padding: 10px;
  background-color: #004526;
  border-radius: 5px;
  color: #faf6eb;
}

.adminbg {
  background-color: #004526c5;
}

.devbg {
  background-color: #AA4A44c5;
}

.constbg {
  background-color: #034694c5;
}

/**News**/
.newsSection {
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.newsContent {
  width: 100%;
  max-width: 1024px;
  background-color: #ffffff23;
  border-radius: 15px;
  scroll-behavior: smooth;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.fb-page {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/**Contacts**/
.contact {
  width: 100%;
  max-width: 1920px;
  background-color: #272727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactform {
  width: 80%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .contactform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactform form {
    width: 80%;
  }
  .contactform form input {
    width: 100%;
  }
  .contactform form textarea {
    width: 100%;
  }
  .contactform .contacts {
    display: none;
  }
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  height: 35px;
  width: 180px;
  border: none;
  padding-left: 5px;
}

.inputMessage {
  padding-left: 5px;
  width: 250px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.inputButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #D2BB69;
  color: white;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.inputButton:hover {
  background-color: #2F160D;
}

.socialIcons {
  width: 100%;
  height: 70px;
  background-color: #D2BB69;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: rows;
          flex-direction: rows;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D2BB69;
  font-size: 22px;
}

.socialIcons a {
  color: #D2BB69;
  text-decoration: none;
}

.socialIcons a img {
  width: 34px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.socialIcons a img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.socialIcons a i {
  cursor: pointer;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid black;
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.socialIcons a i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  color: white;
  padding-left: 15px;
  font-weight: 100;
  font-size: 14px;
  text-align: right;
  width: 250px;
  border-left: 2px solid white;
}

.contacts i {
  float: left;
  margin-right: 10px;
  font-size: 20spx;
}

.copyRights {
  width: 100%;
  max-width: 1920px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.486);
  margin-bottom: 20px;
  color: white;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .gameContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero {
  width: 100%;
  height: 92vh;
}

/*Login-window*/
.login-window {
  width: 300px;
  height: 400px;
  background-color: rgba(51, 51, 51, 0.63);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border: 2px solid #D2BB69;
  border-radius: 10px;
  -webkit-transition: .2s;
  transition: .2s;
}

.login-window form {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-window input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  margin-bottom: 35px;
  border: 2px solid #D2BB69;
  background-color: #e6e6e6;
}

.login-window button {
  background-color: #1a1b20;
  padding: 5px;
  border: 1px solid #D2BB69;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.login-window button:hover {
  background-color: #333;
}

.info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info-box a {
  margin-bottom: 15px;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
}

#reg::after {
  content: '/';
  color: white;
  margin: 0 8px;
  font-size: 14px;
}

.info-box a:hover {
  color: #f8f29e;
}

.login-windowVisible {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.reg-window {
  width: 300px;
  height: 400px;
  background-color: rgba(51, 51, 51, 0.466);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border: 2px solid #D2BB69;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.reg-windowVisible {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.reg-window form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg-window input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
  margin-bottom: 15px;
  border: 2px solid #D2BB69;
  background-color: #e6e6e6;
}

.reg-window button {
  background-color: #1a1b20;
  padding: 5px;
  border: 1px solid #D2BB69;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.reg-window button:hover {
  background-color: #333;
}

.login-window,
.reg-window,
.reminder-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-window img,
.reg-window img,
.reminder-window img {
  width: 80px;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.reminder-window {
  width: 300px;
  height: 400px;
  background-color: rgba(51, 51, 51, 0.466);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border: 2px solid #D2BB69;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.reminder-windowVisible {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.reminder-window h3 {
  color: white;
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 14px;
}

.reminder-window form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.reminder-window input {
  width: 70%;
  height: 30px;
  padding-left: 5px;
  border: 1px solid #D2BB69;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.reminder-window button {
  height: 30px;
  padding: 0 15px;
  border: 1px solid #D2BB69;
  border-left: none;
  background-color: #aaa;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.reminder-window button:hover {
  background-color: #e2ca88;
}

#close {
  position: absolute;
  width: 28px;
  -webkit-transform: translate(116px, -14px);
          transform: translate(116px, -14px);
  background-color: #D2BB69;
  cursor: pointer;
}
/*# sourceMappingURL=app.css.map */