$darkBlue : #102a43;
$darkBlueTrans : #102a4354;
$lightBlue: #4aa8e6;
$creme : #faf1e8;
$gold: #ffc63d;
$whiskyGold: #ff8c13;
$logoGold: #fcde84;
$logoGoldShine: #ffffef;
$softGreen:#2d9270;
$darkGrey: #2d3338;


