$margin: 20px;
$navMargin: 10px;


/*fontSize*/
$font1 : 20px;
$font2 : 16px;
$fontSmall: 12px;




/*fonts*/

$roadRage: 'Road Rage', cursive;
$stencil: 'Stick No Bills', sans-serif;
$roboto: 'Roboto Mono', monospace;
$fun: 'Shizuru', cursive;
$handwriten: 'The Nautigal', cursive;